@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Artifika');

body {
    text-align: center;
    background-color: #96E0C1;
    font-family: 'Artifika', serif;
}

header {
    font-family: 'Sofia', cursive;
    text-align: center;
}

h1 {
    background-color: #F97253;
}

label {
    font-size: 1.3em;
}

input {
    margin: 2em 0;
}

button {
    font-size: 1.2em;
    font-family: 'Sofia', cursive;
    margin-top: 2em;
    background-color: #F8CA6E;
    width: 15em;
    height: 3em;
}